ThumbsProject\thumbs_GPIO\__pycache__\utils.cpython-36.pyc
ThumbsProject\thumbs_GPIO\.ipynb_checkpoints\dataset-checkpoint.py
ThumbsProject\thumbs_GPIO\.ipynb_checkpoints\thumbs_with_GPIO-checkpoint.ipynb
ThumbsProject\thumbs_GPIO\.ipynb_checkpoints\utils-checkpoint.py
ThumbsProject\thumbs_GPIO\__pycache__\dataset.cpython-36.pyc
